<!DOCTYPE html>
<html>
    <head>
        <title>Studi hinzufügen</title>
    </head>
    <body>
        <h1>Studi hinzufügen</h1>
        <form action="/studentadded" method="post">
            Vorname: <input type="text" name="vorname" placeholder="Max" required><br>
            Nachname: <input type="text" name="Nachname" placeholder="Mustermann" required><br>
            Email: <input type="email" name="mail" placeholder="Max@mustermann.de" required><br>
            Semester: <input type="number" name="semester" placeholder="420"><br>
            <button type="submit"> studi hinzufügen</button>
        </form>
    </body>
</html>