<!DOCTYPE html>
<html>
    <head>
        <title>Willkommen</title>
    </head>
    <body>
        <h1>was wollen wie machen?</h1>
        <button type="submit" formaction="/showstudents" method="post" >Studenten Anzeigen</button>

        
    </body>
</html>