<!DOCTYPE html>
<html>
    <head>
        <title>Willkommen</title>
    </head>
    <body>
        <h1>was wollen wie machen?</h1>
        <form action="/showstudents" method="post">
            <button type="submit">Studis anzeigen</button>
        </form><br>
        <form action="/addstudent" method="post">
            <button type="submit">Studi hinzufügen</button>
        </form>


        
    </body>
</html>